<article class="post">
    <div class="title">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
        <span>({{format_url post_url}})</span>
    </div>
    <div class="meta">
        {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>
{{!--
The main.handlebars file used three curly brackets as {{{ body }}},
but here we're only using two brackets as {{ title}}. Why is that?
The difference is that two brackets will convert HTML characters to strings.
For instance,< would become &lt;.
Three brackets, on the other hand, will render the data as HTML. --}}